* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: blueviolet;
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    color: white;
}

.container {
    margin: auto;

    display: flex;
    flex-direction: column;
}

.form {
    margin-bottom: 10px;
}

.form__input {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    max-width: 500px;
    min-width: 350px;

    font-size: 16px;
    text-align: center;
}

.result {
    border-radius: 20px;

    border: none;
    padding: 10px 20px;
    outline: none;
    resize: none;
    color: white;
    background-color: rgb(151, 52, 244);
    transition: all 0.5s;
    /*max-height: 300px;*/
    overflow: hidden;

    opacity: 0;
}